.wrapper {
    display: flex;
    flex-direction: column;
}

.input {
    all: unset;
    font-family: var(--font-family);
    background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: 1rem;
    border: .125rem solid var(--color-black);
    box-shadow: .25rem .25rem 0 0 var(--color-black);
}