.wrapper {
    display: flex;
    flex-direction: column;
}


.textArea {
    all: unset;
    width: 20rem;
    height: 20rem;
    font-family: var(--font-family);
    background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: 1rem;
    border: .125rem solid var(--color-black);
    box-shadow: .25rem .25rem 0 0 var(--color-black);
    word-break: keep-all;
    overflow-y: scroll;
}

.textArea::-webkit-scrollbar {
    display: none;
}


@media only screen and (max-width: 768px) { 
    .textArea {
        width: 18rem;
    }
}