.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}


.inputsWrapper {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.textAreaWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instructionsWrapper {
    width: 100%;
}

.buttonWrapper {
    margin: 0 auto;
}

.loading {
    font-size: 1.5rem;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0;
}

@keyframes ellipsis {
    to {
        width: 1.25rem;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25rem;    
    }
}


@media only screen and (max-width: 768px) {
    .layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    
    
    .inputsWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .textAreaWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .instructionsWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}