.layout {
    height: 3em;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    background-color: var(--color-black);
    color: var(--color-white);
}

.powered {
    padding-left: 2rem;
    font-weight: 200;
}

.user {
    padding-right: 2rem;
    font-weight: 200;
}

.link {
    color: var(--color-white);
    font-weight: 600;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: .2rem;
}

@media only screen and (max-width: 768px) { 
    .layout {
        height: auto;
        width: 100%; 
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        text-align: center;
    }

    .user {
        padding-right: 0;
    }

    .powered {
        padding-left: 0;
    }
}